openapi: 3.0.0
info:
  title: PingOne Platform API - Management
  description: A bare-bones collection for the PingOne API
  version: 1.0.0
externalDocs:
  url: https://apidocs.pingidentity.com/pingone/platform/v1/api/
  description: PingOne Platform API Reference
servers:
  - url: https://api.pingone.eu
    description: PingOne EU API
  - url: https://api.pingone.com
    description: PingOne US API
  - url: https://api.pingone.asia
    description: PingOne APAC API
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth bearer token (see documentation)
  schemas:
    Error:
      type: object
      properties: 
        id:
          type: string
        code:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              target:
                type: string
              message:
                type: string
    Populations:
      type: object
      properties:
        '_embedded':
          type: object
          properties:
            populations:
              type: array
              items:
                $ref: '#/components/schemas/Population'
        count:
          type: number
        size:
          type: number
    Population:
      type: object
      properties:
        createdAt:
          type: string
          description: The time the resource was created.
          readOnly: true
        description:
          type: string
          description: A string that specifies the description of the population.
        id:
          type: string
          description: A string that specifies the resource’s unique identifier.
          readOnly: true
        name:
          type: string
          description: A string that specifies the population name, which must be provided and must be unique within an environment.
        updatedAt:
          type: string
          description: The time the resource was last updated.
          readOnly: true
        userCount:
          type: integer
          description: The number of users that belong to the population
          readOnly: true
security:
  - bearer: []
tags:
  - name: Management APIs
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Accounting for Latency
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Active Identity Counts
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Agreement Management
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Agreement Management > Agreements Resources
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Agreement Management > Agreement Languages Resources
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Agreement Management > Agreement Revisions Resources
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Alerting
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Applications
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Applications > Applications
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Applications > Application Secret
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Applications > Application Resource Grants
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Applications > Application Sign-On Policy Assignments
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Applications > Application Role Assignments
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Applications > Application Attribute Mapping
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Applications > Application MFA Push Credentials
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Audit Activities
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Authentications per Application
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Bill of Materials (BOM)
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Branding
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Branding > Branding Settings
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Branding > Branding Themes
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Capabilities
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Certificate Management
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Custom Domains
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Device Authentication Policy
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Environments
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Gateway Management
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Gateway Management > Gateways
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Gateway Management > Gateway Credentials
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Gateway Management > Gateway Instances
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Gateway Management > Gateway Role Assignments
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Groups
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Identity Propagation (Provisioning)
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: >-
      Management APIs > Identity Propagation (Provisioning) > Propagation
      Revisions
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Identity Propagation (Provisioning) > Propagation Plans
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Identity Propagation (Provisioning) > Propagation Stores
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: >-
      Management APIs > Identity Propagation (Provisioning) > Propagation Store
      Metadata
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Identity Propagation (Provisioning) > Propagation Rules
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: >-
      Management APIs > Identity Propagation (Provisioning) > Propagation
      Mappings
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Identity Provider Management
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Identity Provider Management > Identity Providers
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: >-
      Management APIs > Identity Provider Management > Identity Provider
      Attributes
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Images
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Integration Catalog
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Language Management
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Language Management > Languages
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Language Management > Language Localization Status
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Licenses
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > MFA Settings
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Notifications
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Notifications > Notifications Templates
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Notifications > Notifications Settings
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Notifications > Notifications Settings (SMTP)
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Notifications > Phone Delivery Settings
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Notifications > Trusted Email Domains
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Notifications > Trusted Email Addresses
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Organizations
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Password Policies
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Populations
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Resources
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Resources > Resources
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Resources > Resource Scopes
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Resources > Resource Attributes
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Risk Management
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Risk Management > Risk Policies
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Risk Management > Risk Evaluations
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Risk Management > Risk Advanced Predictors
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Roles
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Schemas
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Sign-On Policies
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Sign-On Policies > Sign-On Policies
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Sign-On Policies > Sign-On Policy Actions
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Subscriptions (webhooks)
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Total Identities
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > User Activities
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Users
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Users > Users
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Users > Group Membership
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Users > MFA Devices
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Users > MFA Devices > FIDO2 Biometrics Devices
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Users > Enable Users
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Users > Enable Users MFA
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Users > Linked Accounts
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Users > MFA Pairing Keys
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Users > User Populations
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Users > User Passwords
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Users > User Role Assignments
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Users > User ID Verification
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Users > User Agreement Consents
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Users > User Accounts
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
  - name: Management APIs > Users > Sessions
    description: >-
      By design, PingOne requests solely comprise this collection. For complete
      documentation, direct a browser to <a
      href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
paths:
  /v1/environments/{envID}/activeIdentityCounts:
    get:
      tags:
        - Management APIs > Active Identity Counts
      summary: READ Active Identity Counts (Deprecated)
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: filter
          in: query
          schema:
            type: string
          example: startDate ge "2019-05-01T19:00:00Z" and samplingPeriod eq "10"
        - name: limit
          in: query
          schema:
            type: integer
          example: '10'
        - name: order
          in: query
          schema:
            type: string
          example: '-startDate'
        - name: envID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/metrics/activeIdentityCounts:
    get:
      tags:
        - Management APIs > Active Identity Counts
      summary: READ Active Identity Counts by Date Range
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: filter
          in: query
          schema:
            type: string
          example: startDate ge "2020-05-01T19:00:00Z"
        - name: limit
          in: query
          schema:
            type: integer
          example: '10'
        - name: order
          in: query
          schema:
            type: string
          example: '-startDate'
        - name: samplePeriod
          in: query
          schema:
            type: string
          example: MONTH
        - name: envID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/organizations/{orgID}/licenses/{licenseID}/metrics/activeIdentityCounts:
    get:
      tags:
        - Management APIs > Active Identity Counts
      summary: READ Active Identity Counts by License
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: aggregatedBy
          in: query
          schema:
            type: string
          example: calendarMonth
        - name: limit
          in: query
          schema:
            type: integer
          example: '20'
        - name: order
          in: query
          schema:
            type: string
          example: '-startDate'
        - name: orgID
          in: path
          schema:
            type: string
          required: true
        - name: licenseID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/agreements:
    post:
      tags:
        - Management APIs > Agreement Management > Agreements Resources
      summary: CREATE Agreement
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: Agreement_2
                description: Terms of service agreement
                reconsentPeriodDays: 180
                enabled: false
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: envID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '201':
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - Management APIs > Agreement Management > Agreements Resources
      summary: READ All Agreements
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/agreements/{agreementID}:
    get:
      tags:
        - Management APIs > Agreement Management > Agreements Resources
      summary: READ One Agreement
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: agreementID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Management APIs > Agreement Management > Agreements Resources
      summary: UPDATE Agreement
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: Agreement_1_UPDATED_{{$timestamp}}
                reconsentPeriodDays: 360
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: agreementID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Management APIs > Agreement Management > Agreements Resources
      summary: DELETE Agreement
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: agreementID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/agreements/{agreementID}/languages:
    post:
      tags:
        - Management APIs > Agreement Management > Agreement Languages Resources
      summary: CREATE Language
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                locale: en-US
                displayName: Language_1
                enabled: true
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: agreementID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '201':
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - Management APIs > Agreement Management > Agreement Languages Resources
      summary: READ All Languages
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: agreementID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/agreements/{agreementID}/languages/{languageID}:
    get:
      tags:
        - Management APIs > Agreement Management > Agreement Languages Resources
      summary: READ One Language
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: agreementID
          in: path
          schema:
            type: string
          required: true
        - name: languageID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Management APIs > Agreement Management > Agreement Languages Resources
      summary: UPDATE Language
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                locale: en-CH
                displayName: Language_{{$timestamp}}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: agreementID
          in: path
          schema:
            type: string
          required: true
        - name: languageID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Management APIs > Agreement Management > Agreement Languages Resources
      summary: DELETE Language
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: agreementID
          in: path
          schema:
            type: string
          required: true
        - name: languageID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/agreements/{agreementID}/languages/{languageID}/revisions:
    post:
      tags:
        - Management APIs > Agreement Management > Agreement Revisions Resources
      summary: CREATE Revision
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                effectiveAt: '2099-08-01T22:45:44.497Z'
                requireReconsent: false
                text: So, you agree to all my terms, right?
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: agreementID
          in: path
          schema:
            type: string
          required: true
        - name: languageID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '201':
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - Management APIs > Agreement Management > Agreement Revisions Resources
      summary: READ All Revisions
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: agreementID
          in: path
          schema:
            type: string
          required: true
        - name: languageID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/agreements/{agreementID}/languages/{languageID}/revisions/{revisionID}:
    get:
      tags:
        - Management APIs > Agreement Management > Agreement Revisions Resources
      summary: READ One Revision
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: agreementID
          in: path
          schema:
            type: string
          required: true
        - name: languageID
          in: path
          schema:
            type: string
          required: true
        - name: revisionID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/:envID/agreements/:agreeID/languages/:langID/revisions/:revisionID:
    delete:
      tags:
        - Management APIs > Agreement Management > Agreement Revisions Resources
      summary: DELETE Revision
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/alertChannels:
    get:
      tags:
        - Management APIs > Alerting
      summary: READ All Alert Channels per Environment
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Management APIs > Alerting
      summary: CREATE Alert Channel (Email)
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                channelType: EMAIL
                includeSeverities:
                  - ERROR
                includeAlertTypes:
                  - CERTIFICATE_EXPIRED
                excludeAlertTypes: []
                addresses:
                  - tom@example.com
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/alertChannels/{alertChannelID}:
    put:
      tags:
        - Management APIs > Alerting
      summary: UPDATE Alert Channel
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                channelType: EMAIL
                includeSeverities:
                  - WARNING
                includeAlertTypes:
                  - CERTIFICATE_EXPIRED
                excludeAlertTypes: []
                addresses:
                  - tom@example.com
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: alertChannelID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/alertChannels/{alertChannelsID}:
    delete:
      tags:
        - Management APIs > Alerting
      summary: DELETE Alert Channel
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: alertChannelsID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/applications:
    get:
      tags:
        - Management APIs > Applications > Applications
      summary: READ All Applications
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Management APIs > Applications > Applications
      summary: CREATE Application (SAML Protocol)
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: app_{{$timestamp}}
                description: this is my application
                enabled: true
                '#loginPageUrl': https://example.com
                type: WEB_APP
                protocol: SAML
                '#icon':
                  id: 04ad537e-c9cd-45c3-abfb-f41946cfe374
                  href: >-
                    https://upload.wikimedia.org/wikipedia/commons/a/a8/Baby_Jake.jpg
                assertionDuration: 60
                acsUrls:
                  - https://example.com
                sloResponseEndpoint: https://example.com
                spEntityId: test
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: envID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/applications/{appID}:
    get:
      tags:
        - Management APIs > Applications > Applications
      summary: READ One Application
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Management APIs > Applications > Applications
      summary: UPDATE Application (SAML)
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: UPDATED_{{$timestamp}}
                description: this is my UPDATED client
                enabled: false
                type: WEB_APP
                protocol: SAML
                assertionDuration: 60
                acsUrls:
                  - https://example.com
                sloResponseEndpoint: https://example.com
                spEntityId: test
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/applications/{appD}:
    delete:
      tags:
        - Management APIs > Applications > Applications
      summary: DELETE Application
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appD
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/applications/{appID}/secret:
    get:
      tags:
        - Management APIs > Applications > Application Secret
      summary: READ Application Secret
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Management APIs > Applications > Application Secret
      summary: UPDATE Application Secret
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/applications/{appID}/grants:
    post:
      tags:
        - Management APIs > Applications > Application Resource Grants
      summary: CREATE Grant
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                resource:
                  id: '{{resourceID}}'
                scopes:
                  - id: '{{scopeID}}'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - Management APIs > Applications > Application Resource Grants
      summary: READ All Grants for an Application
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/applications/{appID}/grants/{grantID}:
    get:
      tags:
        - Management APIs > Applications > Application Resource Grants
      summary: READ One Grant for an Application
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
        - name: grantID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Management APIs > Applications > Application Resource Grants
      summary: UPDATE Grant
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                resource:
                  id: '{{resourceID}}'
                scopes:
                  - id: '{{OIDCscopeID}}'
                  - id: '{{anotherOIDCscopeID}}'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
        - name: grantID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Management APIs > Applications > Application Resource Grants
      summary: DELETE Grant
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
        - name: grantID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/applications/{appID}/signOnPolicyAssignments:
    get:
      tags:
        - >-
          Management APIs > Applications > Application Sign-On Policy
          Assignments
      summary: READ All SOP Assignments
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - >-
          Management APIs > Applications > Application Sign-On Policy
          Assignments
      summary: CREATE SOP Assignment
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                priority: 1
                signOnPolicy:
                  id: '{{policyID}}'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/applications/{appID}/signOnPolicyAssignments/{SOPAssignmentID}:
    get:
      tags:
        - >-
          Management APIs > Applications > Application Sign-On Policy
          Assignments
      summary: READ One SOP Assignment
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
        - name: SOPAssignmentID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - >-
          Management APIs > Applications > Application Sign-On Policy
          Assignments
      summary: UPDATE SOP Assignment
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                priority: 5
                signOnPolicy:
                  id: '{{policyID}}'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
        - name: SOPAssignmentID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - >-
          Management APIs > Applications > Application Sign-On Policy
          Assignments
      summary: DELETE SOP Assignment
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
        - name: SOPAssignmentID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/applications/{appID}/roleAssignments:
    get:
      tags:
        - Management APIs > Applications > Application Role Assignments
      summary: READ Application Role Assignments
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Management APIs > Applications > Application Role Assignments
      summary: CREATE Application Role Assignments
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                role:
                  id: '{{roleID}}'
                scope:
                  id: '{{envID}}'
                  type: ENVIRONMENT
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/applications/{appID}/roleAssignments/{roleAssignmentID}:
    get:
      tags:
        - Management APIs > Applications > Application Role Assignments
      summary: READ One Application Role Assignment
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
        - name: roleAssignmentID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Management APIs > Applications > Application Role Assignments
      summary: DELETE Application Role Assignment
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
        - name: roleAssignmentID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/applications/{appID}/attributes:
    get:
      tags:
        - Management APIs > Applications > Application Attribute Mapping
      summary: READ All Application Attribute Mappings
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Management APIs > Applications > Application Attribute Mapping
      summary: CREATE Application Attribute Mapping
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: email
                value: ${user.email}
                required: false
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/applications/{appID}/attributes/{samlAttrID}:
    get:
      tags:
        - Management APIs > Applications > Application Attribute Mapping
      summary: READ One Application Attribute Mapping
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
        - name: samlAttrID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Management APIs > Applications > Application Attribute Mapping
      summary: UPDATE Application Attribute Mapping
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: email
                value: ${user.email}
                required: true
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
        - name: samlAttrID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Management APIs > Applications > Application Attribute Mapping
      summary: DELETE Application Attribute Mapping
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
        - name: samlAttrID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/applications/{appID}/pushCredentials:
    get:
      tags:
        - Management APIs > Applications > Application MFA Push Credentials
      summary: READ All MFA Push Credentials
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Management APIs > Applications > Application MFA Push Credentials
      summary: CREATE MFA Push Credential (FCM)
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                type: FCM
                key: key.value
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/applications/{appID}/pushCredentials/{pushCredID}:
    get:
      tags:
        - Management APIs > Applications > Application MFA Push Credentials
      summary: READ One MFA Push Credential
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
        - name: pushCredID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Management APIs > Applications > Application MFA Push Credentials
      summary: UPDATE MFA Push Credential
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                type: APNS
                key: key.value.updated
                teamId: team.id.updated
                token: |-
                  -----BEGIN PRIVATE KEY-----
                  MIGTAgEA****7HUikGZU
                  -----END PRIVATE KEY-----
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
        - name: pushCredID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Management APIs > Applications > Application MFA Push Credentials
      summary: DELETE MFA Push Credential
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{accessToken}}
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: appID
          in: path
          schema:
            type: string
          required: true
        - name: pushCredID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/activities:
    get:
      tags:
        - Management APIs > Audit Activities
      summary: GET User Activities
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: filter
          in: query
          schema:
            type: string
          example: >-
            recordedat gt "2018-08-20T00:00:00Z" AND recordedat lt
            "2018-08-22T23:59:00Z"
        - name: envID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Management APIs > Audit Activities
      summary: GET User Activities
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                filter: >-
                  recordedat gt "2019-01-01T22:54:12.988Z" AND recordedat lt
                  "2019-01-31T22:54:12.988Z" AND actors.user.name eq "Bill"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: envID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/activities/{activityID}:
    get:
      tags:
        - Management APIs > Audit Activities
      summary: GET One User Activity
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
        - name: activityID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/applicationSignons:
    get:
      tags:
        - Management APIs > Authentications per Application
      summary: READ Authentications Per Application (Partial)
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
          example: '1'
        - name: samplePeriod
          in: query
          schema:
            type: integer
          example: '1'
        - name: samplePeriodCount
          in: query
          schema:
            type: integer
          example: '100'
        - name: filter
          in: query
          schema:
            type: string
          example: occurredAt ge "2019-10-03T00:00:00Z""
        - name: envID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/billOfMaterials:
    get:
      tags:
        - Management APIs > Bill of Materials (BOM)
      summary: READ One Bill of Materials
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: envID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Management APIs > Bill of Materials (BOM)
      summary: UPDATE Bill of Materials
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                products:
                  - type: PING_DIRECTORY
                    description: PingOne Directory
                  - type: PING_ONE_MFA
                    description: PingOne MFA
                  - type: PING_ONE_PROVISIONING
                    description: PingOne Provisioning
                  - type: PING_ONE_RISK
                    description: PingOne Risk
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: envID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/brandingSettings:
    get:
      tags:
        - Management APIs > Branding > Branding Settings
      summary: READ Branding Settings
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: '{{jwtToken}}'
        - name: envID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Management APIs > Branding > Branding Settings
      summary: UPDATE Branding Settings
      description: >-
        By design, PingOne requests solely comprise this collection. For
        complete documentation, direct a browser to <a
        href='https://apidocs.pingidentity.com/pingone/platform/v1/api/'>apidocs.pingidentity.com</a>.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                companyName: Ping
                logo:
                  href: '{{imageURL}}'
                  id: '{{imageID}}'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: '{{jwtToken}}'
        - name: envID
          in: path
          schema:
            type: string
          required: true
      responses:
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/environments/{envID}/themes:
    get:
      tags:
        - Management APIs > Branding > Branding Themes
[...]
